.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px black solid;
}

.avatar {
  width: 10%;
  background-color: red;
  border-radius: 50%;
}

.formContainer {
  width: 300px;
}

.formGroup {
  display: flex;
  margin: 10px 0;
}

.input {
  margin-left: 10px;
  width: 200px;
  padding: 5px;
}

.label {
  width: 200px;
}

.required {
  color: orange;
}
