.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  transition: 0.5s ease;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav a,
.sidenav button {
  width: 100%;
  padding: 20px;
  color: #0b2d43;
  background-color: transparent;
  border: none;
}

.sidenav a:hover,
.sidenav button:hover {
  background-color: #0b2d43;
  color: white;
}

.navlogo {
  color: #0b2d43;
  font-family: 'Graduate', sans-serif;
}
